* {
  box-sizing: border-box;
}
.homeTitle {
  margin-left: 100px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(137, 43, 226, 0.699);
  color: white;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.randomTitle {
  padding: 0.5rem;
}

.randomContainer {
  background-color: #242629;
  display: flex;
  margin: 2rem;
  padding: 1rem;
  width: 100rem;
  font-size: 1.1rem;
}

.randomContainer img {
  object-fit: cover;
  height: 30rem;
  max-height: 500px;
  width: 100%;
}

.randomImage {
  padding: 1rem;
}

.randomInfo {
  flex: 1;
}

.randomRating {
  align-items: center;
  padding: 0 0 25rem 0;
  display: flex;
}

.ratingIcon {
  padding: 0.5rem;
}

.movie {
  margin: 1rem;
  width: 300px;
  background-color: orange;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}

.movie img {
  object-fit: cover;
  height: 30rem;
  width: 100%;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.movie-info {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  height: 5rem;
}
.movie-info h3 {
  margin: 0;
}
.movie-over {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  color: #22254b;
  padding: 1rem;
  overflow: auto;
  max-height: 100%;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.movie:hover .movie-over {
  transform: translateY(0%);
}
.search {
  font-size: 1.2rem;
  border: 2px solid #22254b;
  border-radius: 50px;
  background-color: wheat;
  padding: 0.5rem 1.5rem;
}
.tag {
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: bold;
  background-color: #7a5af0c4;
}

.buttons {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

/* CSS */
.button-5 {
  align-items: center;
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1;
  margin: 0;
  min-height: 2.5rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #fb8332;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}
.button-5:disabled {
  pointer-events: none;
  opacity: 0.5;
}

.tag.green {
  color: rgb(41, 207, 41);
}

.tag.orange {
  color: rgb(228, 173, 70);
}

.tag.red {
  color: rgb(255, 0, 0);
}

#tags {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
}

.tagtag {
  color: #fffffe;
  padding: 10px 20px;
  background-color: orange;
  border-radius: 50px;
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}

.filterTitle {
  text-align: center;
}

.genreButtonContainer {
  text-align: center;
}

.buttonDiv {
  display: inline-block;
}

.genreButton {
  all: unset;
  cursor: pointer;
  margin: 10px;
  border-radius: 0.1em;
  box-sizing: border-box;
  text-decoration: none;
  padding: 0.4em 0.5em;
  border: 0.1em solid #ffffff;
  text-align: center;
  transition: all 0.3s;
}

.genreButton:hover {
  color: #000000;
  background-color: #ffffff;
}

.genreButton.highlight {
  color: #000000;
  background-color: #ffffff;
}

.filterButton {
  text-align: center;
}

.applyButton {
  all: unset;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  border: 0.1em solid #fffffe;
  background-color: #7f5af0;
  font-weight: bold;
  font-size: 1.1rem;
  color: #fffffe;
  text-decoration: none;
  border-radius: 0.12em;
  box-sizing: border-box;
  transition: all 0.15s;
  margin: 15px;
}

.applyButton:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #000000;
  border-color: #000000;
}

.no-result {
  text-align: center;
  padding: 50px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #242629;
  color: #fffffe;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.filterACButton {
  display: flex;
  justify-content: center;
}

.refreshButton {
  text-align: center;
}

.signUpStyle {
  background: #7f5af0;
  border-radius: 5px;
  display: grid;
  justify-content: center;
  padding: 5rem;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: larger;
  font-weight: bold;
  text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
  height: 35rem;
  width: 35rem;
  
}

.signUpStyle text {
  font-size: larger;
}

.signUpInput {
  width: 12rem;
  height: 1.5rem;
}

.signUpItem {
  padding: 0.5rem;
}

.applyButton2 {
  all: unset;
  text-align: center;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  border: 0.1em solid #fffffe;
  background-color: #2cb67d;
  font-weight: bold;
  font-size: 1.1rem;
  color: #fffffe;
  text-decoration: none;
  border-radius: 0.12em;
  box-sizing: border-box;
  transition: all 0.15s;
  margin: 15px;
}

.applyButton2:hover {
  text-shadow: 0 0 2em rgba(255, 255, 255, 1);
  color: #000000;
  border-color: #000000;
}



.settingsStyle {
  border-radius: 5px;
  display: block;
  justify-content: center;
  padding: 5rem;
  text-align: center;
  font-size: larger;
  font-weight: bold;
  text-shadow: 0 0 2px #000; /* horizontal-offset vertical-offset 'blur' colour */
}

.settingsItem {
  padding: 0.5rem;
}

.settingsCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landingButtons {
  font-size: 17px;
  padding: 0.7em 2em;
  margin: 10px;
  font-weight: 500;
  background: #1F2937;
  color: white;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 0.6em;
}

.gradient {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 0.6em;
  margin-top: -0.25em;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
}

.label {
  position: relative;
  top: -1px;
}

.transition {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 500ms;
  background-color: rgba(16, 185, 129, 0.6);
  border-radius: 9999px;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

button:hover .transition {
  width: 14em;
  height: 14em;
}

button:active {
  transform: scale(0.97);
}

/* /////////////////////////////////////// Slider ////////////////////////////////// */
.container-slider {
  max-width: 120rem;
  height: 40rem;
  margin: 100px auto 0;
  position: relative;
  overflow: hidden;
  margin: 0;
  /* box-shadow: 0 10px 20px rgba(255, 255, 255, 0.2); */
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  /* transition: opacity ease-in-out 0.4s; */
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;
  margin: 1rem 0 0 0;
}


.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.active-anim {
  opacity: 1;
}
.btn-slide {
  width: 60px;
  height: 60px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.btn-slide img {
  width: 25px;
  height: 25px;
  pointer-events: none;
}
.prev {
  top: 50%;
  left: 20px;
  border-radius: 50%;
  /* transform: translateY(-60%); */
}
.next {
  top: 50%;
  right: 20px;
  border-radius: 50%;
  /* transform: translateY(-60%); */
}
.slide img {
  height: 30rem;
}
/* /////////////////////////////////////////////////////////////////// */


.viewMore {
  text-align: right;
  padding: 1rem;
}

.pages {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.pagesNumber {
  padding: 3rem;
}

.userPage {
  display: flex;
  padding: 5rem;
  background-color: #94a1b2;
}

.userPageContent {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-self: center;
}

.userNumber {
  text-align: center;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  border: 2.5px solid rgb(255, 252, 252);
  padding: 0.55rem 0 0 0;
  margin: 1rem;
}

.userIMG {
  height: 4rem;
  width: 4rem;
}

/* COLORS */

header {
  background-color: #242629;
}

header h1 {
  color: #fffffe;
}

body {
  background-color: #16161a;
  color: white;
}

.movie {
  background-color: #242629;
}

.movie-info {
  color: #fffffe;
}

.movie-over {
  background-color: #7f5af0;
  color: #fffffe;
}

.tag {
  background-color: #7f5af0;
}

.search {
  color: #fffffe;
  border: 2px solid #fffffe;
}

.button-5 {
  background-color: #fa6400;
}
